<domain type='{{ "kvm" if _mp_qemu_kvm_ok else "qemu" }}'>
  <name>{{ _host }}</name>
  <memory unit='MiB'>{{ _mp_specs[_host].memory | int }}</memory>
  <vcpu placement='static'>{{ _mp_specs[_host].cpus | int }}</vcpu>
  <os>
    <type arch='x86_64' machine='q35'>hvm</type>
    <boot dev='hd'/>
  </os>
  <features>
    <acpi/>
    <apic/>
  </features>
  <cpu mode='{{ "host-passthrough" if _mp_qemu_kvm_ok else "qemu64" }}'/>
  <devices>
    <emulator>/usr/bin/qemu-system-x86_64</emulator>
    <disk type='file' device='disk'>
      <driver name='qemu' type='qcow2'/>
      <source file='{{ _mp_specs[_host].overlay_path }}'/>
      <target dev='vda' bus='virtio'/>
    </disk>
    <disk type='file' device='cdrom'>
      <driver name='qemu' type='raw'/>
      <source file='{{ _mp_specs[_host].seed_iso_path }}'/>
      <target dev='sda' bus='sata'/>
      <readonly/>
    </disk>
{% if _mp_specs[_host].network.mode == 'slirp' %}
    <interface type='user'>
      <mac address='{{ _mp_specs[_host].mac }}'/>
      <model type='virtio'/>
      <portForward proto='tcp'>
        <range start='{{ _mp_specs[_host].ssh_port }}' to='22'/>
      </portForward>
    </interface>
{% else %}
    <interface type='network'>
      <mac address='{{ _mp_specs[_host].mac }}'/>
      <source network='default'/>
      <model type='virtio'/>
    </interface>
{% endif %}
    <serial type='pty'><target port='0'/></serial>
    <console type='pty'><target type='serial' port='0'/></console>
  </devices>
</domain>
